extends layout

block content
    div.top-content
        div.inner-bg
            div.container
                div.row
                    h1.pull-left Tier Two
                    
                    table(class="table table-striped table-bordered table-hover" id="table_dashboard")
                        thead
                            tr
                                th(scope="col") UID
                                th(scope="col") Name
                                th(scope="col") Email
                                th(scope="col") Direct Users
                                th(scope="col") Created
                        
                        tbody
                          each member in teamOne
                            tr
                                td  
                                   a(href='/users/' + member._id)= member._id
                                   |
                                td= member.name
                                td= member.email
                                td= member.teamOne.length
                                td= moment(member.created_at).format('MMM Do YY')